:root {
  --black: #000000d4;
  --gray: #4f4b4b;
  --lightBlue: #d6f9ff;
}

body {
  background-color: var(--black);
  min-height: 100vh;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Poppins, sans-serif";
}

.weather-card {
}
.bg-dark.navbar-dark {
  background-color: var(--black) !important;
  padding: 20px;
}

.navbar {
  width: 100%;
}

.info-result {
  background-color: aqua;
  margin-top: 150px;
  display: flex;
  height: 600px;
  width: 90%;
  margin: 80px;
  gap: 55px;
}

.locationInput {
  position: relative;
  text-align: center;
  padding: 0;
}

.locationInput::placeholder {
  font-size: 16px;
}

.searchInput {
  color: #6e6a6a;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 33px;
  transform: translateX(-392px);
}

.result-left {
  background-color: red;
  width: 500px;
  height: 330px;
  margin-left: 80px;
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
  padding: 30px;
}

.result-left h1 {
  font-size: 42px !important;
  font-weight: 700 !important;
}

.result-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-color: green;
  width: 780px;
  height: 330px;
  margin-right: 87px;
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 30px;
}

/* almost done */
