* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  background-image: url(assets/tucano.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 10pt;
  background-color: blueviolet;
}

.main__result {
  display: flex;
  background-color: blue;
  height: 50vh;
}

.main__result-item {
  display: flex;
  flex-direction: column;
}
